
body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.ryu {
	float: left;
	width: 659px;
	height: 494px;
}

.tutorial {
	width: 600px;
	height: 300px;
	top: 60px;
	left: 650px;
	position: absolute;
	display: inline-block;
	font-family: 'Comic Sans MS';
	text-transform: uppercase;
}

.box-one, .box-two {
	width: 50%;
	line-height: 40px;
}

.box-two {
	float: right;
	margin-right: 50px;
}

.box-one h2, .box-two h2 {
	font-weight: 100;
}


.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.ryu-ready, 
.ryu-still,
.ryu-throwing,
.ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, 
.ryu-throwing,
.ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url(../images/ryu-ready-position.gif);
}

.ryu-still {
	background-image: url(../images/ryu-standing-still.png);
}

.ryu-throwing {
	background-image: url(../images/ryu-throwing-hadouken.png);
}

.ryu-cool {
	background-image: url(../images/ryu-cool.gif);
}

.hadouken {
	background-image: url(../images/hadouken.gif);
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 165px;
	left: 539px;
}


